
/************************/
/*** BOOTSTRAP CUSTOM ***/
/************************/

.navbar-nav {
	font-size: 125%;
}

.navbar-brand {
	font-size: 2em;
}

.row {
	/* border :3px solid blue; */
}

.col-md-3 {
	/* border:3px solid blue; */
}

.container {
	/* border:3px solid blue; */
}

.lead {
   font-size: 165% !important;
}


/**************************/
/*** APPLICATION COMMON ***/
/**************************/

html, body {
	height: 100%;
}

h1 {
   font-size: 300%;
}
.mt-block-line {
	background: rgba(33, 33, 33, 0.3);
	width: 300px;
	height: 1px;
	margin: 30px auto;
}

.mt-block-line-thumb {
	background: rgba(33, 33, 33, 0.3);
	width: 100px;
	height: 1px;
	margin: 30px auto;
}

.mt-top-row-white {
	margin-top: 100px;
	text-align: center;
	color: white;
}

.mt-top-row-white h1 {
	font-size: 250%;
}

.mt-top-row {
	margin-top: 100px;
	text-align: center;
}

.mt-top-row h1 {
	font-size: 250%;
}

.mt-margin-top {
	margin-top: 30px;
}

.mt-padding-top {
	padding-top: 20px;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.title {
	margin-top: 100px;
	font-size: 300%;
}

.footer {
	background-color: #B0D1FB;
	padding-top: 70px;
	width: 100%;
}

.mt-margin-bottom {
	margin-bottom: 30px;
}

.mt-ap-store-image {
	width: 250px;
}


/**********************/
/*** HOME CONTAINER ***/
/**********************/

.mt-top-container-home {
	background-image:
		linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.2)
          ),
		url("../images/background-2-home.jpeg");
	width: 100%;
	background-size: cover;
}

.mt-top-row-home {
	margin-top: 100px;
   padding-top: 20px;
	text-align: center;
   /*background-color:rgba(206, 199, 189, 0.9);*/
   background: linear-gradient(
          rgba(206, 199, 189, 0.8),
          rgba(206, 199, 189, 0.8)
          );
}

/*.mt-sub-head {
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: rgba(206, 199, 189, 0.9);
}*/

.mt-sub-head, .mt-top-row-home a {
	color: #212121;

   text-decoration: underline;
}

.mt-sub-head, .mt-top-row-home a:hover {
	color: #ffffff;
}

.mt-nav-next-white {
	margin-top: 50px;
	text-align: center;
	color: white;
}

.mt-home-header-text {
   padding-bottom: 20px;
   color: #212121;
}

.mt-home-lead-text {
   color: #212121;
}

/**************************/
/*** SERVICES CONTAINER ***/
/**************************/

.mt-container-services {
	background-color: #b29b8b;
}

.mt-service-thumb-row {
	margin-top: 30px;
}

.mt-service-thumb-row a:hover {
	text-decoration: none;
}

.mt-service-thumb {
	background-color: #d8c9be;
	border-color: #7f6350;
	height: 360px;
   padding-top: 20px;
}

.mt-service-thumb-text {
	text-align: center;
	color: #212121 !important;
}

.fa-code, .fa-search, .fa-cloud, .fa-puzzle-piece {
	color: #212121 !important;
}

.mt-service-thumb:hover {
	background-color: #cec7bd !important;
}

.mt-service-header-text {
   color: #212121;
}

.mt-service-lead-text {
   color: #212121;
}



/***************************/
/*** PORTFOLIO CONTAINER ***/
/***************************/


.mt-container-portfolio {
	background:
		linear-gradient(
          rgba(206, 199, 189, 1.0),
          rgba(206, 199, 189, 1.0)
          );
	width: 100%;
	background-size: cover;
}

.mt-portfolio-thumb-row {
	margin-top: 30px;
}

.mt-portfolio-thumb {
	background-color: #7f6350;
	/*box-shadow: 5px 5px 10px #b29b8b;*/
}

.mt-portfolio-thumb-text {
	text-align: center;
	color: #212121 !important;
}

.mt-portfolio-thumb:hover {
	background-color: #b29b8b !important;
}

.mt-portfolio-thumb:hover h4 {
	background-color: #b29b8b !important;
	color: #212121 !important;
}

.mt-portfolio-header-text {
   color: #212121;
}

.mt-portfolio-lead-text {
   color: #212121;
}



/*************************/
/*** CONNECT CONTAINER ***/
/*************************/


.mt-container-connect {
	background-color: #d8c9be;
}

.mt-social-links-row {
	padding-bottom: 30px;
}

.mt-social-links {
	padding-top: 20px;
	padding-bottom: 0px;
}

.mt-social-links a {
	color: #7f6350;
}

.mt-fa-social {
	color: #7f6350;
	/* text-shadow: 4px 4px 5px #BBBBBB */
}

.mt-social-links a:hover {
	/*text-decoration: none;*/
}

.mt-social-links a:hover .mt-fa-social {
	color: #b29b8b;
}

.mt-connect-form-row {
	padding-top: 20px;
}

.btn {
	color: #7f6350;
}

.btn:hover {
   color: #7f6350;
   background-color: #b29b8b;
}

.form-control {
	font-size: 125%;
}

.mt-fa-button {
	color: #7f6350;
}

.mt-connect-header-text {
   color: #212121;
}

.mt-connect-lead-text {
   color: #212121;
}

/******************************/
/*** TOP NAV SCROLL DOWN/UP ***/
/******************************/


.mt-scroll-down-link {
	width: 50px;
	height: 50px;
	border-width: 2px;
	border-style: solid;
	border-color: #212121;
	border-radius: 50%;
	padding-top: 4px;
	margin: auto;
   text-align: center;
	position: fixed;
	z-index: 999;
	bottom: 1em;
	right: 1em;
}

.mt-scroll-down-link a {
	font-size: 200%;
	color: #212121;
}

.mt-scroll-down-link:hover {
	border-color: #ffffff;
}

.mt-scroll-down-link:hover a {
	color: #ffffff;
}

.mt-scroll-up-link {
	width: 50px;
	height: 50px;
	border-width: 2px;
	border-style: solid;
	border-color: #212121;
	border-radius: 50%;
	padding-top: 3px;
	margin: auto;
	text-align: center;
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 1em;
	right: 1em;
}

.mt-scroll-up-link a {
	font-size: 200%;
	color: #212121;
}

.mt-scroll-up-link:hover {
	border-color: #ffffff;
}

.mt-scroll-up-link:hover a {
	color: #ffffff;
}


/******************************/
/*** FOOTER ***/
/******************************/


.mt-copyright {
	text-align: center;
	padding-top: 125px;
   color: #212121;
}


/******************************/
/*** CLIENT PROFILE         ***/
/******************************/

.mt-label {
   font-size: 1.25em;
}

.mt-label-required {
   color: blue;
}

.mt-top-row-client-profile {
	margin-top: 50px;
}