/*****************/
/*** WEB FONTS ***/
/*****************/

@font-face {
    font-family: 'ringbearermedium';
    src: url('../fonts/ringbearer-webfont.eot');
    src: url('../fonts/ringbearer-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ringbearer-webfont.woff2') format('woff2'),
         url('../fonts/ringbearer-webfont.woff') format('woff'),
         url('../fonts/ringbearer-webfont.ttf') format('truetype'),
         url('../fonts/ringbearer-webfont.svg#ringbearermedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anironregular';
    src: url('../fonts/aniron-webfont.eot');
    src: url('../fonts/aniron-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aniron-webfont.woff2') format('woff2'),
         url('../fonts/aniron-webfont.woff') format('woff'),
         url('../fonts/aniron-webfont.ttf') format('truetype'),
         url('../fonts/aniron-webfont.svg#anironregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**************************/
/*** APPLICATION COMMON ***/
/**************************/

html, body {
   text-align: center;
   background-color: #DDD9D1;
}

.mt-row {
   padding-top: 20px;
}

.mt-quote-content-row {
   padding-top: 60px;
}

.mt-img-col {
   padding-bottom: 30px;
}

.mt-hdr-img {
   max-height: 150px;
}

#quoteSection {
   display: none;
}

#quoteImg {
   box-shadow: 10px 10px 20px #46525D;
}

#quoteSource {
   font-style: italic;
   color: #53502B;
   padding-top: 20px;
}

#quoteText {
   font-family: "anironregular";
   font-size: 1.3em;
   color: #53502B;
}

h1 {
   font-family: "ringbearermedium";
   color: #7D4420;
}

.lead {
   font-family: "ringbearermedium";
   padding-top: 20px;
   color: #648399;
}

.btn {
   color: #DDD9D1;
   background-color: #7D4420 !important;
   font-family: "ringbearermedium";
   font-size: 1.75em;
   width: 160px;
   height: 60px;
}

.btn:hover {
   color: #FFF44B !important;
}

/************************/
/*** BOOTSTRAP CUSTOM ***/
/************************/

.row {
	/* border:3px solid blue; */
}

.col-md-3 {
  	/* border :3px solid blue; */
}

.container {
	/* border:3px solid blue; */
}